.app {
  background: #E9EBEE;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app>header {
  display: flex;
  height: 42px;
}

.app>header>nav {
  align-items: center;
  background-color: #4267B2;
  flex: 1;
  justify-content: center;
  display: flex;
}

.app>header>nav a {
  color: #ffffff;
  height: 27px;
  margin: 0 8px;
  text-decoration: none;
}

.app>main {
  display: flex;
  flex-grow: 1;
}
